{% extends "base.html" %}
{% block content %}

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <img src="{{ url_for('static', filename='img/intro-img.svg') }}" alt="" class="img-fluid">
    </div>

    <div class="intro-info">
      <h1><strong>W<i class="fa fa-quote-left" style="font-size:34px;"></i>rdify</strong></h1> 
      <h3>makes it easy to identify words<br> 
          that discriminate categories in<br>
          <span>textual data.</span></h3>
      <div>
        <a href="#wordify" class="btn-get-started scrollto">Get Started</a>
        <a href="#services" class="btn-services scrollto">FAQ</a>
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>How it works</h3>
        <p>Simply upload an Excel file, and let us do the rest.</p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            Let's explain <strong>Wordify</strong> with an example. Imagine you are thinking about having a glass of wine with your friends; you know you like bold, woody wine, but are unsure which one to choose. You wonder whether there are some words that describe each type of wine; since you are a researcher, you decide to approach the problem scientifically.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-file"></i></div>
            <h4 class="title"><a href="">Gather textual data</a></h4>
            <p class="description">You go to your favorite platform and for each type of wine (label) you dowload some reviews (texts).</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-quote-left"></i></div>
            <h4 class="title"><a href=""><strong>Wordify</strong> the data</a></h4>
            <p class="description">You use our platform to <strong>wordify</strong> your data.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <h4 class="title"><a href="">Receive your results</a></h4>
            <p class="description">You receive by email the results of the analysis which will tell you the most indicative words, both negative and positive, for each type of wine.</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="{{ url_for('static', filename='img/about-img.svg') }}" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="{{ url_for('static', filename='img/about-extra-2.svg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>Step 1. Prepare your data</h4>
          <p>
            Create an Excel file with two columns. Name your columns <strong>"text"</strong> and <strong>"label"</strong>. Copy each of your texts into its own row in the first column, and add the respective label in the second column.
          </p>
          <p>To have reliable results, we suggest providing at least 2000 labelled texts. If you provide less we will still <strong>wordify</strong> your file, but the results should then be taken with a grain of salt.
          </p>
          <p>We currently do not support multi-language texts, therefore your texts should be in one language. <a href="#services">FAQ</a> to see those supported.</p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="{{ url_for('static', filename='img/about-extra-1.svg') }}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>Step 2. Upload your file</h4>
          <p>
           Once you have prepared your Excel file, click the "Choose File" button. Browse for your file.
          </p>
          <p>
            Choose the language of your texts. Check out the <a href="#services">FAQ</a> to see those supported. Provide your email. We will process your data and you will receive your <strong>wordified</strong> file by email. Depending on the number of requests, it can take up to 30 minutes (but usually 3-4 are enough). No data is stored on our server.
          </p>
      
        </div>
        
      </div>

    </div>
  </section><!-- #about -->


  <!--==========================
    Wordify Section
  ============================-->
  <section id="wordify">
    <div class="container">
      <div class="jumbotron wow fadeInUp">
        <h1><strong>Wordify</strong> your data!</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

          <div id="forms-par">
            <p>
              {{ form.file(class="btn btn-default", value="Browse your files...") }}
            </p>
            <p>
              {% for error in form.file.errors %}
              <div class="alert alert-warning">
                  <button type="button" class="close" data-dismiss="alert"=>
                      &times;</button>
                  {{ error }}
              </div>
              {% endfor %}
            </p>
            <p>{{ form.language(class="form-control") }}</p>
            <p>{{ form.email(class="form-control", placeholder="Enter your email...") }}</p>
            <p>
                {% for error in form.email.errors %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert"=>
                        &times;</button>
                    {{ error }}
                </div>
                {% endfor %}
            </p>
          </div>

          <p id="submit-par">{{ form.submit(class="btn btn-lg btn-primary", id="submit-button", value="Wordify!") }}
          </p>

        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert"=>
                &times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </section>




  <!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>FAQ</h3>
        <p>Should you have questions other than these below, please do not hesitate to contact us.</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">What is <strong>Wordify</strong>?</a></h4>
            <p class="description">A way to find out which terms are most indicative for each of your dependent variable values.</p>
          </div>
          
          <div class="box">
            <div class="icon"><i class="ion-ios-cloud-outline" style="color: #ff8902;"></i></div>
            <h4 class="title"><a href="">What happens to my data?</a></h4>
            <p class="description">Nothing. We never store the data you upload on disk: it is only kept in memory for the duration of the modeling, and then deleted. We do not retain any copies or traces of your data.</p>
          </div>

          <div class="box">
            <div class="icon"><i class="ion-ios-copy-outline" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">What input formats do you support?</a></h4>
            <p class="description">The file you upload should be .xlsx, with two columns: the first should be labeled 'text' and contain all your documents (e.g., tweets, reviews, patents, etc.), one per line. The second column should be labeled 'label', and contain the dependent variable label associated with each text (e.g., rating, author gender, company, etc.).</p>
          </div>
        </div>
      
        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">

          <div class="box">
            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">How does it work?</a></h4>
            <p class="description">It uses a variant of Stability Selection <a href="https://rss.onlinelibrary.wiley.com/doi/full/10.1111/j.1467-9868.2010.00740.x%4010.1111/%28ISSN%291467-9868.TOP_SERIES_B_RESEARCH">(Meinshausen and Bühlmann, 2010)</a> to fit hundreds of logistic regression models on random subsets of the data, using different L1 penalties to drive as many of the term coefficients to 0. Any terms that receive a non-zero coefficient in at least 30% of all model runs can be seen as stable indicators.</p>
          </div>

          <div class="box">
            <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">How much data do I need?</a></h4>
            <p class="description">We recommend at least 2000 instances, the more, the better. With fewer instances, the results are less replicable and reliable.</p>
          </div>
       
          <div class="box">
            <div class="icon"><i class="ion-ios-paper-outline" style="color: #4680ff;"></i></div>
            <h4 class="title"><a href="">Is there a paper I can cite?</a></h4>
            <p class="description">Yes please! Reference coming soon...</p>
          </div>

          <div class="box">
            <div class="icon"><i class="fa fa-language" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">What languages are supported?</a></h4>
            <p class="description">Currently we support: English, German, Dutch, Spanish, French, Portuguese, Italian, Greek.</p>
          </div>

        </div>

      </div>

    </div>
  </section><!-- #services -->




  <!--==========================
    Why Us Section
  ============================
  <section id="why-us" class="wow fadeIn">
    <div class="container">
      <header class="section-header">
        <h3>Why choose us?</h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
      </header>

      <div class="row row-eq-height justify-content-center">

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
              <i class="fa fa-diamond"></i>
            <div class="card-body">
              <h5 class="card-title">Corporis dolorem</h5>
              <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.</p>
              <a href="#" class="readmore">Read more </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
              <i class="fa fa-language"></i>
            <div class="card-body">
              <h5 class="card-title">Voluptates dolores</h5>
              <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.</p>
              <a href="#" class="readmore">Read more </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
              <i class="fa fa-object-group"></i>
            <div class="card-body">
              <h5 class="card-title">Eum ut aspernatur</h5>
              <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex. </p>
              <a href="#" class="readmore">Read more </a>
            </div>
          </div>
        </div>

      </div>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">274</span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">421</span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1,364</span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">18</span>
          <p>Hard Workers</p>
        </div>

      </div>

    </div>
  </section>-->

  <!--==========================
    Portfolio Section
  ============================-->
  <!---
  <section id="portfolio" class="clearfix">
    <div class="container">

      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/app1.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 1</a></h4>
              <p>App</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/app1.JPG') }}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/web3.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 3</a></h4>
              <p>Web</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/web3.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/app2.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 2</a></h4>
              <p>App</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/app2.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/card2.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 2</a></h4>
              <p>Card</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/card2.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/web2.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 2</a></h4>
              <p>Web</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/web2.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/app3.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">App 3</a></h4>
              <p>App</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/app3.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/card1.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 1</a></h4>
              <p>Card</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/card1.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/card3.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Card 3</a></h4>
              <p>Card</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/card3.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename='img/portfolio/web1.JPG') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Web 1</a></h4>
              <p>Web</p>
              <div>
                <a href="{{ url_for('static', filename='img/portfolio/web1.JPG') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section> #portfolio -->
  
  <!--==========================
    Clients Section
  ============================-->
  <!---
  <section id="testimonials" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">

          <div class="owl-carousel testimonials-carousel wow fadeInUp">
  
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='img/testimonial-1.JPG') }}" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              </p>
            </div>
  
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='img/testimonial-2.JPG') }}" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
            </div>
  
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='img/testimonial-3.JPG') }}" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              </p>
            </div>
  
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='img/testimonial-4.JPG') }}" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              </p>
            </div>
  
            <div class="testimonial-item">
              <img src="{{ url_for('static', filename='img/testimonial-5.JPG') }}" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              </p>
            </div>

          </div>

        </div>
      </div>


    </div>
  </section> #testimonials --->

  <!--==========================
    Team Section
  ============================-->
  <!---
  <section id="team">
    <div class="container">
      <div class="section-header">
        <h3>About Us</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row" style="column-gap: 1000px; text-align: center;">

        <div class="col-lg-2 col-md-4 wow fadeInUp">
          <div class="member">
            <img src="{{ url_for('static', filename='img/dirk.JPEG') }}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="{{ url_for('static', filename='img/tommaso.JPEG') }}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="{{ url_for('static', filename='img/pietro.JPG') }}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section> #team --->

  <!--==========================
    Clients Section
  ============================-->
  <!---
  <section id="clients" class="section-bg">

    <div class="container">

      <div class="section-header">
        <h3>Our CLients</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
      </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-1.png') }}" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-2.png') }}" class="img-fluid" alt="">
          </div>
        </div>
      
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-3.png') }}" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-4.png') }}" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-5.png') }}" class="img-fluid" alt="">
          </div>
        </div>
      
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-6.png') }}" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-7.png') }}" class="img-fluid" alt="">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{ url_for('static', filename='img/clients/client-8.png') }}" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>

  </section>
  --->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact">
    <div class="container-fluid">

      <div class="section-header">
        <h3>Contact Us</h3>
      </div>

      <div class="row wow fadeInUp row-eq-height justify-content-center">
        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-5 info">
              <i class="ion-ios-location-outline"></i>
              <p>Via Röntgen n. 1, Milan 20136 (ITALY)</p>
            </div>
            <div class="col-md-4 info">
              <i class="ion-ios-email-outline"></i>
              <p>dmi@unibocconi.it</p>
            </div>
            <div class="col-md-3 info">
              <i class="ion-ios-telephone-outline"></i>
              <p>+39 02 5836 2604</p>
            </div>
          </div>

          <div class="map mb-4 mb-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.949796165441!2d9.185730115812493!3d45.450667779100726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c405ae6543c9%3A0xf2bb2313b36af88c!2sVia%20Guglielmo%20R%C3%B6ntgen%2C%201%2C%2020136%20Milano%20MI!5e0!3m2!1sit!2sit!4v1569325279433!5m2!1sit!2sit" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
          </div>

          <div class="container">
            <a href="mailto:dmi@unibocconi.it" class="btn btn-md btn-primary">Send Message</a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

{% endblock %}