<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WordifyMyData</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/favicon.png" rel="apple-touch-icon">

  <!-- Spoon Fonts -->
  <link rel="stylesheet" href="../static/lib/spoon/Spoon-Regular.ttf">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
  <link href="../static/css/style_pietro.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a id="brand" class="navbar-brand" href=""> <strong>Wordify</strong> My Data</a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">Instructions</a></li>
          <li><a href="#services">FAQ</a></li>
          <!---
          <li><a href="#portfolio">Portfolio</a></li>
          
          <li><a href="#team">About Us</a></li>
          --->
          <!---
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          --->
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

 
  <!--==========================
      Wordify Section
    ============================-->
<section id="wordify">
  <div class="container">
    <div class="jumbotron wow fadeInUp">
      <h1>File too big!</h1>
      <p>The file you tried to upload is too big (>10MB)<br>
         Please retry with a smaller file</p>
      <a href="" class="btn btn-lg btn-primary" style="font-family: 'Spoon'; font-weight: 400; background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Home</a>
    </div>
  </div>
</section>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <!---
          <div class="col-lg-4 col-md-6 footer-info">
            <h3>NewBiz</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>
          --->

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Navigation</h4>
            <ul>
                <li><a href="//www.bidsa.unibocconi.eu/wps/wcm/connect/Site/Bidsa/Home/About+us">About us</a></li>
                <li><a href="http://www.bidsa.unibocconi.eu/wps/wcm/connect/Site/Bidsa/Home/Publications">Publications</a></li>
                <li><a href="//www.bidsa.unibocconi.eu/wps/wcm/connect/Site/Bidsa/Home/Research+Units">Research Units</a></li>
                <li><a href="//www.bidsa.unibocconi.eu/wps/wcm/connect/Site/Bidsa/Home/Contacts">Contacts</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p><a id="DMI" href="http://www.bidsa.unibocconi.eu/wps/wcm/connect/Site/Bidsa/Home/Research+Units/Data+and+Marketing+Insights/">Data and Marketing Insights (DMI)</a> <br>
                Research Unit at Bocconi Institute for Data Science and Analytics (BIDSA)<br>
                Via Röntgen n. 1, Milan 20136 (ITALY)<br>
                3rd Floor, Room C3-09<br>
              <strong>Phone:</strong> +39 02-5836-2604<br>
              <strong>Email:</strong> <a href="mailto:dmi@unibocconi.it">dmi@unibocconi.it</a><br>
            </p>

            <!---
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
            --->

          </div>

          <!---
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>
          --->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <strong>Wordify</strong> &copy; Università Bocconi - Via Sarfatti, 25 Milano - PI 03628350153
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="https://lescipi.github.io">Pietro Lesci</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>
</html>
