{% block wordifyform %}

<!--==========================
    Wordify Section
  ============================-->
<section id="wordify">
    <div class="container">
        <div class="jumbotron wow fadeInUp">
            <h1><strong>Wordify</strong> your data!</h1>
            <form id="formid" action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <div id="forms-par">
                    <p>
                        {{ form.file(id="fileForm", class="btn btn-default", value="Browse your files...") }}
                    </p>
                    <p>
                    <div id="errorformat"></div>
                    </p>
                    <p>{{ form.language(class="form-control") }}</p>
                    <p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        {{ form.email(id="emailaddress", type="email", class="form-control", placeholder="Enter your email address...", )}}
                        <div class="invalid-feedback">
                            Please choose a valid email address.
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="input-group" data-toggle="tooltip" data-placement="top"
                        title="Frequency threshold for a term to be included. Lower thresholds return more terms, but low-frequency terms are less indicative.">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Threshold</span>
                        </div>
                        {{ form.threshold(type="number", class="form-control", id="validationCustomUsername", placeholder="0-1", step="0.01", min="0.1", max="0.99") }}
                        <div class="invalid-feedback">
                            Please choose a valid email address.
                        </div>
                    </div>
                    </p>
                    <p>
                    <div id="errorformatemail"></div>
                    </p>
                </div>
                <p id="submit-par">
                    {{ form.submit(class="btn btn-lg btn-primary", id="submit-button", value="Wordify!") }}
                </p>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    &times;</button>
                <strong>Warning:</strong> {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</section>


<!-- ======= mace Section ======= -->
<!-- <section id="wordify">

    <div class="container">
        <div class="jumbotron wow fadeInUp">
            <h1><strong>Wordify</strong> your data!</h1>
            <form class="needs-validation" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <div class="form-row" id="forms-par">
                    <div class="col-md mb-3">
                        {{ form.file(id="fileForm", class="btn btn-default", value="Browse your files...") }}
                        <div class="invalid-feedback">
                            Please select a file.
                        </div>
                    </div>
                </div>
                
                <div class="form-row" id="forms-par">
                    <div class="col-md mb-3">
                        {{ form.language(class="form-control") }}
                        <div class="invalid-feedback">
                            Please select a file.
                        </div>
                    </div>
                </div>

                <div class="form-row" id="forms-par">
                    <div class="col-md mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            {{ form.email(id="emailaddress", type="email", class="form-control", placeholder="Enter your email address...", )}}
                            <div class="invalid-feedback">
                                Please choose a valid email address.
                            </div>
                        </div>
                    </div>
                </div>


                <small id="advset">
                    <a href="" id="advset" data-toggle="collapse" data-target="#advancedsettings" aria-expanded="false"
                        aria-controls="advancedsettings" class="form-text">
                        Advanced Settings
                    </a>
                </small>
                <div class="collapse" id="advancedsettings">

                    <div class="form-row">
                        <div class="col-md mb-3" id="forms-par">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">Threshold</span>
                                </div>
                                {{ form.threshold(type="number", class="form-control", id="validationCustomUsername", placeholder="0-1", step="0.01", min="0.1", max="0.99") }}
                                <div class="invalid-feedback">
                                    Please insert a value between 0 and 1.<br>
                                    Note: the minimun step is 0,1.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" id="forms-par">
                        <div class="col-md mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">Iterations</span>
                                </div>
                                {{ form.iterations(type="number", class="form-control", id="validationCustomUsername", placeholder="50-500", step="1", min="50", max="500") }}
                                <div class="invalid-feedback">
                                    Please insert a value between 50 and 500.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="submit-par">
                    {{ form.submit(class="btn btn-lg btn-primary", id="submit-button", value="Wordify!") }}
                </div>
            </form>

            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </div>
</section>End About Section -->

{% endblock %}